div {
    height:200px;
    width:200px;
    float:left;
    border-left: 1px black solid;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}
div:last-child {
    border-right: 1px black solid;
}